body{
	margin: 0;
	background: #E5F3FC;
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
}

a {
	text-decoration: none;
}

li {
	margin-right: 40px;
}

header{
	color: #294A70;
	margin-bottom: 15px;
}

header .menu{
	background: #CE355E;
	padding: 3px 0;
}

header .logo{
	text-align: center;
	padding: 20px 0;
}

.logo_text{
	font-size: 30pt;
	font-weight: bold;
}

header .menu a{
	color: #fff;
	font-size: 15pt;
}

.dropbtn {
  background-color: #CE355E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CE355E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #B93054;}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {background-color: #B93054;}

.container{
	max-width: 100%;
	padding: 0 150px;
}

.article_block{
	display: flex;
	border-bottom: 2px solid blue;
}

.picture img {
	width: 750px;
}

.left_column{
	font-size: 15pt;
	font-weight: bold;
	width: 400px;
	margin-right: 40px;
	color: #CF2E2E;
}

.left_column .text{
	margin-top: 40px;
	text-align: center;
}

.left_column .text_border{
	color: #469C0D;
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
	padding: 10px;
	font-size: 25pt;
	margin: 50px 0;
}

.left_column .third_block{
	font-size: 20pt;
	font-weight: normal;
}
.left_column .third_block span{
	font-weight: bold;
}

.title{
	text-align: center;
	padding: 18px;
}

.title span{
	
	color: #469C0D;
	font-size: 25pt;
	font-weight: bold;
}

.block2 {
	border-bottom: 2px solid blue;
	margin-bottom: 50px;
}

.block2_container{
	display: flex;
	justify-content: space-between;
}

.item .picture img{
	width: 550px;
}

.item .title2{
	text-align: center;
	color: #0F233A;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0;
}




.pre_footer{
	padding: 0 100px;
	text-align: center;
	color: #2320D7;
	font-weight: bold;
	background: #F1F1F1;
	padding: 50px 100px;
	font-size: 15pt;
}

.pre_footer .container{
	display: flex;
	justify-content: space-between;
}

.pre_footer img{
	width: 117px;
	margin-bottom: 20px;
}

footer {
	
	color: #BFBFBF;
	background: #CE355E;
	padding: 15px 0;
	font-size: 10pt;
}

footer a {
	color: #fff;
}
footer .container{
	display: flex;
	justify-content: space-between;

}

.footer_right{
	border-left: 1px solid black;
}

.footer_right a {
	margin-left: 10px;
}