{% extends "main/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/about.css' %}">
<link rel="stylesheet" href="{% static 'main/documents.css' %}">
{% endblock %}

{% block title %} Алтын Асық {% endblock %}
{% block body %}
<content>
    <div class="container">
        <div class="title">
            <span>БАЛАБАҚША ҚҰЖАТТАРЫ (Аттестациялауға)</span>
        </div>
        <div class="disclaimer">
            <div class="first">Құрметті сайт қолданушысы!</div>
            <div class="second">Қажетті құжат атауы текстін шерту арқылы таңдалған құжатты жаңадан ашылған бетте мазмұнымен таныса аласыз немесе компьютеріңізге жүктеп таныса аласыз!</div>
        </div>
        <div class="links">
            <a href="{% static 'main/UStatus.pdf' %}" target="_blank">Серіктестіктің құқықтық статусы</a><br><br>
            <a href="{% static 'main/Order.pdf' %}" target="_blank">Басшының тағайындалу бұйрығы</a><br><br>
            <a href="{% static 'main/ust.pdf' %}" target="_blank">Мекеме жарғысы</a><br><br>
            <a href="{% static 'main/sanep.pdf' %}" target="_blank">Санитарлық — эпидемиологиялық қорытынды</a><br><br>
            <a href="{% static 'main/tech.pdf' %}" target="_blank">Техникалық түгендеу іс қағазы</a><br><br>
            <a href="{% static 'main/medLicense_merged.pdf' %}" target="_blank">Қызметтің басталғаны туралы хабарлама және медициналық қызмет лицензиясы</a><br><br>
        </div>
    </div>
</content>
{% endblock %}