{% load static %}
<header>
		<div class="container">
			<div class="logo">
				<span class="logo_text">"Алтын Асық" бөбекжай-балабақшасы ЖШС</span>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="dropdown">
					<a href="{% url 'main:index_page' %}"><button class="dropbtn">Басты бет</button></a>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Балабақша</button>
						<div class="dropdown-content">
							<a href="{% url 'main:about' %}">Балабақша туралы</a>
						    <a href="{% url 'main:bsn' %}">БСН және мекеме жарғысы</a>
						    <a href="{% url 'main:community' %}">Балабақша ұжымы</a>
						    <a href="{% url 'main:awards' %}" class="dropa">Жетістіктері</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Денсаулық</button>
						<div class="dropdown-content">
							<a href="{% url 'main:training' %}">Белсенді жаттығулар</a>
						    <a href="{% url 'main:medicine' %}">Мейірбике бұрышы</a>
						    <a href="{% url 'main:psychology' %}">Психолог бұрышы</a>
						    <a href="{% url 'main:covid' %}">Коронавирустың алдын алу шаралары</a>
						    <a href="{% url 'main:bulleten' %}">Санбюллетень</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Ата-анаға</button>
						<div class="dropdown-content">
							<a href="{% url 'main:register' %}">Балабақшаға тіркелу</a>
						    <a href="{% url 'main:adaptation' %}">Баланың балабақшаға бейімделуі</a>
						    <a href="{% url 'main:security' %}">Қауіпсіздік шаралары</a>
						    <a href="{% url 'main:relationship' %}">Ата-аналармен қарым қатынас</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Әдістемелік жұмыс</button>
						<div class="dropdown-content">
							<a href="{% url 'main:schedule' %}">Күн тәртібі</a>
						    <a href="{% url 'main:food_menu' %}">Ас мәзірі</a>
						    <a href="{% url 'main:mornings' %}">Ертеңгіліктер</a>
<!--						    <a href="{% url 'main:open_study' %}">Ашық оқу қызметі</a>-->
							<a href="{% static 'main/Open.pdf' %}" target="_blank">Ашық оқу қызметі</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Балабақшамен <br>танысу</button>
						<div class="dropdown-content">
							<a href="{% url 'main:aula' %}">Балабақша ауласы</a>
						    <a href="{% url 'main:ish' %}">Балабақшаның ішкі суреттері</a>
						    <a href="{% url 'main:top' %}">Біздің топтарымыз</a>

						</div>
				</div>

				<div class="dropdown">
				  		<a href="{% url 'main:contact' %}"><button class="dropbtn">Байланыс</button></a>
				</div>

				<div class="dropdown">
				  		<a href="{% url 'main:documents' %}"><button class="dropbtn">Өзін-өзі бағалау</button></a>
				</div>
			</div>
		</div>

	</header>