{% extends "main/base.html" %}
{% load static %}

{% block title %} Алтын Асық {% endblock %}
{% block body %}

    <content>
		<div class="container">

				<div class="article_block">
					<div class="left_column">
						<div class="text">Түркістан облысының адами әлеуетті <br> дамыту басқармасының <br> Мақтаарал ауданы Иіржар ауылдық округі<br> адами әлеуетті дамыту бөлімі</div>

						<div class="text text_border">«Алтын Асық» бөбекжай-балабақшасы ЖШС</div>

						<div class="text third_block">ресми сайтына <br> <span>ҚОШ КЕЛДІҢІЗДЕР!</span></div>
					</div>

					<div class="right_column">
						<div class="picture">
							<img src="{% static 'main/main.jpeg' %}" alt="">
						</div>
					</div>
				</div>

				<div class="block2">
					<div class="title">
						<span>БАЛАБАҚШАМЕН ТАНЫСУ</span>
					</div>

					<div class="block2_container">
						<div class="left">
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="{% static 'main/aula.jpeg' %}" alt="">
							    </div>
							</div>

							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="{% static 'main/main.jpeg' %}" alt="">
							    </div>
							</div>
						</div>

						<div class="right">
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="{% static 'main/main.jpeg' %}" alt="">
							    </div>
							</div>

							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="{% static 'main/main.jpeg' %}" alt="">
							    </div>
							</div>
						</div>
					</div>
				</div>
		</div>
				<div class="pre_footer">
					<div class="container">
						<div class="item">
							<img src="{% static 'main/time.png' %}" alt="">
							<div class="text">Жұмыс уақыты <br> Дүйсенбі - Жұма <br> 8:00 - 18:30</div>
						</div>

						<div class="item">
							<img src="{% static 'main/map.png' %}" alt="">
							<div class="text">Мекен-жайымыз <br> Мақтаарал ауданы, <br> Иіржар ауылдық округі <br> Мақтажан ауылы <br> Баян ата көшесі, 16</div>
						</div>

						<div class="item">
							<img src="{% static 'main/contact.png' %}" alt="">
							<div class="text">Байланыс <br> тел: +77773929079 <br> E-mail: Kozhaeva1978@list.ru</div>
						</div>
					</div>
				</div>




	</content>

{% endblock %}