{% extends "main/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/about.css' %}">
{% endblock %}

{% block title %} Алтын Асық {% endblock %}
{% block body %}
	<content>
		<div class="container">


				<div class="block1">
					<div class="title">
						<span>БАЛАБАҚША ТУРАЛЫ</span>
					</div>

					<div class="block1_container">
						<img src="{% static 'main/main.jpeg' %}" alt="">
						<img src="{% static 'main/main.jpeg' %}" alt="">
					</div>
				</div>

				<div class="block2">
					<div class="block2_title">
						<span>"Нұр-Жібек" бөбекжай – балабақшасы жауапкершілігі <br> шектеулі серіктестігі  туралы ақпараттық анықтама</span>
					</div>

					<div class="block2_table">
						<table>
							<tr>
								<td class="number">1</td>
								<td>Мектепке дейінгі ұйымның атауы</td>
								<td>Жетісай ауданының       «Нұр-Жібек»  бөбекжай —  балабақшасы   жауапкершілігі шектеулі серіктестігі</td>
							</tr>

							<tr>
								<td>2</td>
								<td class="second_td">Білім беру ұйымының орналасқан жері (заңды мекен – жайы және нақты орналасқан жерінің мекен — жайы)</td>
								<td>ҚР, 160500, Түркістан облысы, Жетісай ауданы,  Жетісай қаласы, Естай көшесі 15</td>
							</tr>

							<tr>
								<td>3</td>
								<td>Заңды тұлғаның байланыс деректері (телефон, электрондық пошта, webсайт)</td>
								<td>   Ұялы телефон 87011880051                                                        электронды поштасы farida77du@mail.ru,   https://nur-jibek.edu.kz/</td>
							</tr>

							<tr>
								<td>4</td>
								<td>Заңды тұлға өкілінің байланыс деректері (басшының Т.А.Ә лауазымға тағайындау туралы бұйрықтың көшірмесі)</td>
								<td>Дүйсембек Фәрида Әкімқызы «Нұр-Жібек» бөбекжай-балабақшасы» жауапкершілігі шектеулі серіктестігінің құрылтайшысының шешімі бойынша 2017 жылы 2 қазаннан бастап №03 бұйрықпен тағайындалған.</td>
							</tr>

							<tr>
								<td class="number">5</td>
								<td>Құқық белгілейтін және құрылтайшылық құжаттары (жарғының және заңды тұлғаны мемлекеттік тіркеу не қайта тіркеу туралы анықтаманың/куәліктің көшірмесі қоса беріледі)</td>
								<td>Заңды тұлғаны мемлекеттік қайта тіркеу туралы анықтамасы Қазақстан Республикасының заңдамасына сәйкес Заңды тұлға мемлекеттік тіркеуден 27.05.2013жылы өткен. БСН 130540019301 Кәсіпорын жарғысы  қатысушысы шешімімен бекітілген 27.05.2013ж екінші рет 16.01.2019ж  қайта бекітілген</td>
							</tr>

							<tr>
								<td class="number">6</td>
								<td>Рұқсат беру құжаттары (білім беру қызметіне лицензия және оған қосымша және (немесе) мектепке дейінгі тәрбие мен оқыту саласындағы қызметтің басталғаны туралы хабарламаны жіберу туралы талон)</td>
								<td>Мемлекеттік лицензия  қайта алынды.06.12.2022 жыл. №22000178 Мектепке дейінгі тәрбие мен оқыту саласындағы қызметтің басталғаны туралы толон қайта  2022 жылғы 11 желтоқсандағы  №KZ82RVK00042855 хабарлама берілген.  </td>
							</tr>

							<tr>
								<td class="number">7</td>
								<td>	Құрылған жылы</td>
								<td>2013жыл</td>
							</tr>

							<tr>
								<td class="number">8</td>
								<td>Типтік ғимарат</td>
								<td>Екі  қабатты типтік үлгіде</td>
							</tr>

							<tr>
								<td class="number">9</td>
								<td>Топтар саны</td>
								<td>8 топ</td>
							</tr>

							<tr>
								<td class="number">10</td>
								<td>Балаларды оқыту тілі</td>
								<td>Қазақ тілі</td>
							</tr>

							<tr>
								<td class="number">11</td>
								<td>	Жұмыс аптасының ұзақтығы</td>
								<td>5 күндік</td>
							</tr>

							<tr>
								<td class="number">12</td>
								<td>Ауысым саны</td>
								<td>	Тәрбиешілер:  І ауысым; ІІ ауысым</td>
							</tr>

							<tr>
								<td class="number">13</td>
								<td>Жасына қарай топтар бойынша ұйымдастырылған оқу қызметінің ұзақтығы – минутпен</td>
								<td>Кіші топ Ортаңғы топ Ересек топ МАДТ-25-30 минут</td>
							</tr>

							<tr>
								<td class="number">14</td>
								<td>МДҰ – ның жобалық әлеуеті</td>
								<td>Балабақша орны 200  балаға арналған. 03.06.2013 жылы.№17-2-5-185 санитарлық эпидемиологиялық қорытынды берілген. Құжаттар көшірмесі қоса жолданды.</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="block1_container">
					<img src="{% static 'main/main.jpeg' %}" alt="">
					<img src="{% static 'main/main.jpeg' %}" alt="">
				</div>
		</div>
				<div class="pre_footer">
					<div class="container">
						<div class="item">
							<img src="{% static 'main/time.png' %}" alt="">
							<div class="text">Жұмыс уақыты <br> Дүйсенбі - Жұма <br> 8:00 - 18:30</div>
						</div>

						<div class="item">
							<img src="{% static 'main/map.png' %}" alt="">
							<div class="text">Мекен-жайымыз <br> Жетісай қаласы, <br> Естай көшесі, 15</div>
						</div>

						<div class="item">
							<img src="{% static 'main/contact.png' %}" alt="">
							<div class="text">Байланыс <br> тел: +77011880051 <br> E-mail: farida77du@mail.ru</div>
						</div>
					</div>
				</div>




	</content>
{% endblock %}