<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Алтын Асық</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<span class="logo_text">"Алтын Асық" бөбекжай-балабақшасы ЖШС</span>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="dropdown">
		  			<button class="dropbtn">Басты бет</button>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Балабақша</button>
						<div class="dropdown-content">
							<a href="#">Балабақша туралы</a>
						    <a href="#">БСН және мекеме жарғысы</a>
						    <a href="#">Лицензиялар</a>
						    <a href="#">Балабақша ұжымы</a>
						    <a href="#" class="dropa">Жетістіктері</a>
						    <a href="#">Балабақша құжаттары (Аттестациялауға)</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Денсаулық</button>
						<div class="dropdown-content">
							<a href="#">Белсеңді жаттығулар</a>
						    <a href="#">Мейірбике бұрышы</a>
						    <a href="#">Психолог бұрышы</a>
						    <a href="#">Коронавирустың алдын алу шаралары</a>
						    <a href="#">Санбюллетень</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Ата-анаға</button>
						<div class="dropdown-content">
							<a href="#">Балабақшаға тіркелу</a>
						    <a href="#">Баланың балабақшаға бейімделуі</a>
						    <a href="#">Қауіпсіздік шаралары</a>
						    <a href="#">Ата-аналармен қарым қатынас</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Балаларға</button>
						<div class="dropdown-content">
							<a href="#">Күн тәртібі</a>
						    <a href="#">Ас мәзірі</a>
						    <a href="#">Ертеңгіліктер</a>
						    <a href="#">Ашық оқу қызметі</a>
						    <a href="#">"Рухани жаңғыру" бағдарламасы іс-шаралары</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Балабақшамен танысу</button>
						<div class="dropdown-content">
							<a href="#">Балабақша ауласы</a>
						    <a href="#">Балабақшаның ішкі суреттері</a>
						    <a href="#">Біздің топтарымыз</a>
						    <a href="#">Дамытушы орталар</a>
						</div>
				</div>

				<div class="dropdown">
				  		<button class="dropbtn">Байланыс</button>
						<div class="dropdown-content">
							
						</div>
				</div>
			</div>
		</div>
		
	</header>

	<content>
		<div class="container">
			
				<div class="article_block">
					<div class="left_column">
						<div class="text">Түркістан облысының адами әлеуетті <br> дамыту басқармасының <br> Жетісай ауданы адами әлеуетті <br>дамыту бөлімі</div>

						<div class="text text_border">«Алтын Асық» бөбекжай-балабақшасы ЖШС</div>

						<div class="text third_block">ресми сайтына <br> <span>ҚОШ КЕЛДІҢІЗДЕР!</span></div>
					</div>

					<div class="right_column">
						<div class="picture">
							<img src="images/main.jpeg" alt="">
						</div>
					</div>
				</div>

				<div class="block2">
					<div class="title">
						<span>БАЛАБАҚШАМЕН ТАНЫСУ</span>
					</div>

					<div class="block2_container">
						<div class="left">
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="images/main.jpeg" alt="">
							    </div>
							</div>
							
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="images/main.jpeg" alt="">
							    </div>
							</div>
						</div>

						<div class="right">
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="images/main.jpeg" alt="">
							    </div>
							</div>
							
							<div class="item">
								<div class="title2">
								    <span>БАЛАБАҚША АУЛАСЫ</span>
							    </div>

							    <div class="picture">
								    <img src="images/main.jpeg" alt="">
							    </div>
							</div>
						</div>
					</div>
				</div>
		</div>
				<div class="pre_footer">
					<div class="container">
						<div class="item">
							<img src="images/time.png" alt="">
							<div class="text">Жұмыс уақыты <br> Дүйсенбі - Жұма <br> 8:00 - 18:30</div>
						</div>

						<div class="item">
							<img src="images/map.png" alt="">
							<div class="text">Мекен-жайымыз <br> Жетісай қаласы, <br> Естай көшесі, 15</div>
						</div>

						<div class="item">
							<img src="images/contact.png" alt="">
							<div class="text">Байланыс <br> тел: +77011880051 <br> E-mail: farida77du@mail.ru</div>
						</div>
					</div>
				</div>

				
			
		
	</content>

	<footer>
		<div class="container">
			
			<div class="footer_left">
				<span>«НҰР-ЖІБЕК» БӨБЕКЖАЙ-БАЛАБАҚШАСЫ» ЖШС. Copyright 2023 All rights reserved. | Theme: HamroClass by <a href="#">Themecentury</a>.</span>
			</div>

			<div class="footer_right">
				<a href="#">Home</a>
			</div>
		</div>
		
	</footer>
</body>
</html>